$spacer-1x: var(--ds-spacer-1x, 4px);
$spacer-2x: calc(var(--ds-spacer-1x, 4px) * 2);
$spacer-3x: calc(var(--ds-spacer-1x, 4px) * 3);
$spacer-4x: calc(var(--ds-spacer-1x, 4px) * 4);
$spacer-5x: calc(var(--ds-spacer-1x, 4px) * 5);
$spacer-6x: calc(var(--ds-spacer-1x, 4px) * 6);
$spacer-7x: calc(var(--ds-spacer-1x, 4px) * 7);
$spacer-8x: calc(var(--ds-spacer-1x, 4px) * 8);
$spacer-9x: calc(var(--ds-spacer-1x, 4px) * 9);
$spacer-10x: calc(var(--ds-spacer-1x, 4px) * 10);
$spacer114x: calc(var(--ds-spacer-1x, 4px) * 11);
$space12-4x: calc(var(--ds-spacer-1x, 4px) * 12);
