@use '../utilities/_all.scss' as *;

.has-padding-1x { padding: $spacer-1x !important; }
.has-padding-2x { padding: $spacer-2x !important; }
.has-padding-3x { padding: $spacer-3x !important; }
.has-padding-4x { padding: $spacer-4x !important; }

.is-block {
	display: block !important;
}

.is-inline-grid {
	display: inline-grid !important;
	gap: var(--ds-grid-gap, $spacer-2x) !important;
}

