<template>
	<BlEditInline
		removable
		@apply="emitUpdates"
		@cancel="reset"
		@remove="$emit('remove', modelValue)"
	>
		<template #content>
			<div>
				{{ formatTime(timestamp) }} -
				{{ t('log-entry.caption.feeding-summary', { childName }) }} -
				{{ modelValue.amountMl === 0 ? '??' : modelValue.amountMl }}ml
				<template v-if="modelValue.description">- {{ modelValue.description }}</template>
			</div>
		</template>
		<template #editor>
			<label class="is-block" for="input-amount">
				{{ t('log-entry.caption.feeding-amount') }}
			</label>
			<BlInputNumber
				v-model="editAmountMl"
				input-id="input-amount"
				:pt="{ input: { autofocus: true, inputmode: 'numeric' } }"
			/>
			<label class="is-block" for="input-time">
				{{ t('log-entry.caption.generic-time') }}
			</label>
			<small id="input-time-help-text">Use HH:MM format</small>
			<BlInputDateTime v-model="editTimestamp" input-id="input-time" aria-describedby="input-time-help-text" />

			<label class="is-block" for="input-description">
				{{ t('log-entry.caption.generic-description') }}
			</label>
			<BlInputText v-model="editDescription" input-id="input-description" />
		</template>
	</BlEditInline>
</template>

<script lang="ts">
import { type PropType, computed, defineComponent, ref, watchEffect } from 'vue';
import { useI18n } from 'vue-i18n';
import { BlEditInline, BlInputDateTime, BlInputNumber, BlInputText } from '#src/widgets';
import { hasCategory } from '#src/domain/journals';
import { FeedingCategories, JournalFeeding } from '#src/domain/journal-feeding';
import { type Journal } from '#src/domain/journal.js';

type ModelValue = Pick<JournalFeeding, 'timestamp' | 'amountMl' | 'description'>;

export default defineComponent({
	components: { BlEditInline, BlInputDateTime, BlInputNumber, BlInputText },
	inheritAttrs: false,
	props: {
		modelValue: { type: Object as PropType<ModelValue>, required: true },
		childName: { type: String, default: '' },
	},
	emits: ['update:modelValue', 'remove'],
	setup: (props, { emit }) => {
		const { t } = useI18n();
		const amountMl = computed(() => props.modelValue.amountMl);
		const timestamp = computed(() => props.modelValue.timestamp);
		const description = computed(() => props.modelValue.description);

		const editAmountMl = ref(0);
		const editTimestamp = ref(new Date());
		const editDescription = ref('');

		const formatTime = new Intl.DateTimeFormat(undefined, { hour: 'numeric', minute: 'numeric', hour12: false }).format;

		const emitUpdates = () => {
			const original = JournalFeeding(props.modelValue);
			const edited = JournalFeeding({
				...props.modelValue,
				amountMl: editAmountMl.value,
				timestamp: editTimestamp.value,
				description: editDescription.value,
			});
			if (!isValid(edited) || areSame(original, edited)) { return; }
			emit('update:modelValue', edited);
		};

		const reset = () => {
			editAmountMl.value = amountMl.value ?? 0;
			editTimestamp.value = timestamp.value ?? new Date();
			editDescription.value = description.value ?? '';
		};
		watchEffect(reset);

		return { t, amountMl, timestamp, formatTime, editAmountMl, editTimestamp, editDescription, emitUpdates, reset };
	},
});

export function canRender(journal: Journal) {
	return hasCategory(FeedingCategories.FEEDING, journal);
}

function isValid({ amountMl }: ModelValue) {
	return 0 <= Number(amountMl);
}

function areSame(a: ModelValue, b: ModelValue) {
	return a.timestamp === b.timestamp &&
		a.amountMl === b.amountMl &&
		a.description === b.description;
}
</script>
