<template>
	<BlEditInline
		removable
		@apply="emitUpdates"
		@cancel="reset"
		@remove="$emit('remove', modelValue)"
	>
		<template #content>
			<div>
				{{ formatTime(timestamp) }} -
				{{ summary }}
				<template v-if="modelValue.description">- {{ modelValue.description }}</template>
			</div>
		</template>
		<template #editor>
			<label class="is-block" for="input-summary">
				{{ t('log-entry.caption.generic-summary') }}
			</label>
			<div style="display: grid; grid-template-columns: 1fr auto; gap: 8px">
				<BlAutoComplete
					v-model="editSummary"
					input-id="input-summary"
					:delay="50"
					complete-on-focus
					:pt="{ input: { autofocus: true } }"
					:suggestions="summarySuggestions"
				/>
				<BlButton
					size="small"
					severity="secondary"
					:icon="phXBold"
					:aria-label="t('general.actions.clear')"
					@click="editSummary = ''"
				/>
			</div>

			<label class="is-block" for="input-time">
				{{ t('log-entry.caption.generic-time') }}
			</label>
			<small id="input-time-help-text">Use HH:MM format</small>
			<BlInputDateTime v-model="editTimestamp" input-id="input-time" aria-describedby="input-time-help-text" />

			<label class="is-block" for="input-description">
				{{ t('log-entry.caption.generic-description') }}
			</label>
			<BlInputText v-model="editDescription" input-id="input-description" />
		</template>
	</BlEditInline>
</template>

<script lang="ts">
import { type PropType, computed, defineComponent, ref, watchEffect } from 'vue';
import { useI18n } from 'vue-i18n';
import { BlAutoComplete, BlButton, BlEditInline, BlInputDateTime, BlInputText } from '#src/widgets';
import { phXBold } from '#src/icons';
import { hasCategory } from '#src/domain/journals';
import { FeedingCategories, isJournalFeeding, type JournalFeeding } from '#src/domain/journal-feeding';
import { Journal } from '#src/domain/journal.js';
import { prop, uniq } from 'ramda';
import { storeToRefs } from 'pinia';
import { useStore } from '../setup';
import { isJournalDiaper } from '#src/domain/journal-diaper.js';

type ModelValue = Pick<JournalFeeding, 'timestamp' | 'summary' | 'description'>;

export default defineComponent({
	components: { BlAutoComplete, BlButton, BlEditInline, BlInputDateTime, BlInputText },
	inheritAttrs: false,
	props: {
		modelValue: { type: Object as PropType<ModelValue>, required: true },
		childName: { type: String, default: '' },
	},
	emits: ['update:modelValue', 'remove'],
	setup: (props, { emit }) => {
		const { t } = useI18n();
		const summary = computed(() => props.modelValue.summary);
		const timestamp = computed(() => props.modelValue.timestamp);
		const description = computed(() => props.modelValue.description);

		const { journals }  = storeToRefs(useStore());
		const genericJournals = computed(() => journals.value.filter(value => !isJournalDiaper(value) && !isJournalFeeding(value)));
		const editSummary = ref('');
		const summaries = computed(() => uniq(genericJournals.value
				.map(prop('summary')))
				.filter(value => value !== null)
				.toSorted());
		const summarySuggestions = computed(() => summaries.value.filter(matches(editSummary.value)));

		const editTimestamp = ref(new Date());
		const editDescription = ref('');

		const formatTime = new Intl.DateTimeFormat(undefined, { hour: 'numeric', minute: 'numeric', hour12: false }).format;

		const emitUpdates = () => {
			const original = Journal(props.modelValue);
			const edited = Journal({
				...props.modelValue,
				summary: editSummary.value,
				timestamp: editTimestamp.value,
				description: editDescription.value,
			});
			if (areSame(original, edited)) { return; }
			emit('update:modelValue', edited);
		};

		const reset = () => {
			editSummary.value = summary.value ?? 0;
			editTimestamp.value = timestamp.value ?? new Date();
			editDescription.value = description.value ?? '';
		};
		watchEffect(reset);

		return {
			t, timestamp, formatTime,  editTimestamp, editDescription, emitUpdates, reset, phXBold,
			summary, editSummary, summarySuggestions,
		};
	},
});

export function canRender(journal: Journal) {
	return hasCategory(FeedingCategories.FEEDING, journal);
}

function matches(query: string) {
	if (!query) { return () => true; }
	const queryNormalized = removeAccents(query).toLowerCase();
	return (text: string) => removeAccents(text).toLowerCase().includes(queryNormalized);
}

function removeAccents(text: string) {
	return text.normalize('NFD').replace(/\p{Diacritic}/gu, '');
}

function areSame(a: ModelValue, b: ModelValue) {
	return a.timestamp === b.timestamp &&
		a.summary === b.summary &&
		a.description === b.description;
}
</script>
