<template>
	<ul class="is-inline-grid">
		<li v-for="journal in journals" :key="journal.uid">
			<Component
				:is="componentOf(journal)"
				:model-value="journal"
				:child-name="childOf(journal)?.nickname ?? ''"
				@update:model-value="update"
				@remove="remove"
			/>
		</li>
	</ul>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { storeToRefs } from 'pinia';
import { useStore } from '#src/setup';
import { type Journal } from '#src/domain/journal';
import { type JournalFeeding } from '#src/domain/journal-feeding';
import { default as LogEntryDiaper, canRender as canRenderAsDiaper } from './log-entry-diaper.vue';
import { default as LogEntryFeeding, canRender as canRenderAsFeeding } from './log-entry-feeding.vue';
import { default as LogEntryGeneric } from './log-entry-generic.vue';
import { type JournalDiaper } from '#src/domain/journal-diaper.js';

const ComponentFormats = {
	LogEntryFeeding: canRenderAsFeeding,
	LogEntryDiaper: canRenderAsDiaper,
	LogEntryGeneric: () => true,
};

export default defineComponent({
	components: {
		LogEntryDiaper,
		LogEntryFeeding,
		LogEntryGeneric,
	},
	setup: () => {
		const store = useStore();
		const { childOf, journals } = storeToRefs(store);
		const { updateJournal, removeJournal } = store;

		const update = (modelValue: Journal) => {
			if (ComponentFormats.LogEntryDiaper(modelValue)) {
				return updateJournal(modelValue as JournalDiaper);
			}
			if (ComponentFormats.LogEntryFeeding(modelValue)) {
				return updateJournal(modelValue as JournalFeeding);
			}
			return updateJournal(modelValue);
		};

		const remove = (modelValue: Journal) => {
			if (ComponentFormats.LogEntryDiaper(modelValue)) {
				return removeJournal(modelValue as JournalDiaper);
			}
			if (ComponentFormats.LogEntryFeeding(modelValue)) {
				return removeJournal(modelValue as JournalFeeding);
			}
			return removeJournal(modelValue);
		};

		const componentOf = (journal: Journal) => Object.entries(ComponentFormats)
				.map(([component, canRender]) => canRender(journal) ? component : null)
				.find(Boolean) ?? never();

		const formatTime = new Intl.DateTimeFormat(undefined, { hour: 'numeric', minute: 'numeric', hour12: false }).format;

		return { journals, update, remove, formatTime, componentOf, childOf };
	},
});

function never(): never {
	throw new Error('Should have not happened');
}
</script>
