<template>
	<BlEditInline
		removable
		@apply="emitUpdates"
		@cancel="reset"
		@remove="$emit('remove', modelValue)"
	>
		<template #content>
			<div>
				{{ formatTime(timestamp) }} -
				{{ t('log-entry.caption.diaper-summary', { childName }) }}
				<template v-if="modelValue.color">- {{ color }}</template>
				<template v-if="modelValue.description">- {{ modelValue.description }}</template>
			</div>
		</template>
		<template #editor>
			<label class="is-block" for="input-time">
				{{ t('log-entry.caption.generic-time') }}
			</label>
			<small id="input-time-help-text">Use HH:MM format</small>
			<BlInputDateTime v-model="editTimestamp" input-id="input-time" aria-describedby="input-time-help-text" />
			<label class="is-block" for="input-amount">
				{{ t('log-entry.caption.diaper-color') }}
			</label>
			<BlAutoComplete
				v-model="editColor"
				input-id="input-color"
				:delay="50"
				complete-on-focus
				:pt="{ input: { autofocus: true } }"
				:suggestions="colorSuggestions"
			/>
			<label class="is-block" for="input-description">
				{{ t('log-entry.caption.generic-description') }}
			</label>
			<BlInputText v-model="editDescription" input-id="input-description" />
		</template>
	</BlEditInline>
</template>

<script lang="ts">
import { type ComputedRef, type PropType, computed, defineComponent, ref, watchEffect } from 'vue';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { prop, uniq } from 'ramda';
import { useStore } from '#src/setup';
import { BlAutoComplete, BlEditInline, BlInputDateTime, BlInputText } from '#src/widgets';
import { hasCategory } from '#src/domain/journals';
import { type Journal } from '#src/domain/journal.js';
import { DiaperCategories, isJournalDiaper, JournalDiaper } from '#src/domain/journal-diaper.js';

type ModelValue = Pick<JournalDiaper, 'timestamp' | 'color' | 'description'>;

export default defineComponent({
	components: { BlAutoComplete, BlEditInline, BlInputDateTime, BlInputText },
	inheritAttrs: false,
	props: {
		modelValue: { type: Object as PropType<ModelValue>, required: true },
		childName: { type: String, default: '' },
	},
	emits: ['update:modelValue', 'remove'],
	setup: (props, { emit }) => {
		const { t } = useI18n();
		const color = computed(() => props.modelValue.color);
		const timestamp = computed(() => props.modelValue.timestamp);
		const description = computed(() => props.modelValue.description);

		const { colorSuggestions, editColor } = useDiaperColor({ color });

		const editTimestamp = ref(new Date());
		const editDescription = ref('');

		const formatTime = new Intl.DateTimeFormat(undefined, { hour: 'numeric', minute: 'numeric', hour12: false }).format;

		const emitUpdates = () => {
			const original = JournalDiaper(props.modelValue);
			const edited = JournalDiaper({
				...props.modelValue,
				color: editColor.value,
				timestamp: editTimestamp.value,
				description: editDescription.value,
			});
			if (areSame(original, edited)) { return; }
			emit('update:modelValue', edited);
		};

		const reset = () => {
			editColor.value = color.value ?? '';
			editTimestamp.value = timestamp.value ?? new Date();
			editDescription.value = description.value ?? '';
		};
		watchEffect(reset);

		return {
			t, timestamp, formatTime, editTimestamp, emitUpdates, reset,
			color, colorSuggestions, editColor, editDescription,
		};
	},
});

function useDiaperColor({ color }: { color: ComputedRef<string | null> }) {
	const { journals }  = storeToRefs(useStore());
	const editColor = ref('');
	const diaperJournals = computed(() => journals.value.filter(isJournalDiaper));
	const colors = computed(() => uniq(diaperJournals.value
			.map(prop('color')))
			.filter(value => value !== null)
			.toSorted());
	const colorSuggestions = computed(() => colors.value.filter(matches(editColor.value)));
	watchEffect(() => {
		editColor.value = color.value ?? '';
	});
	return { editColor, colorSuggestions };
}

export function canRender(journal: Journal) {
	return hasCategory(DiaperCategories.DIAPER, journal);
}

function matches(query: string) {
	if (!query) { return () => true; }
	const queryNormalized = removeAccents(query).toLowerCase();
	return (text: string) => removeAccents(text).toLowerCase().includes(queryNormalized);
}

function removeAccents(text: string) {
	return text.normalize('NFD').replace(/\p{Diacritic}/gu, '');
}

function areSame(a: ModelValue, b: ModelValue) {
	return a.timestamp === b.timestamp &&
		a.color === b.color &&
		a.description === b.description;
}
</script>
