<template>
	<template v-if="!isLoggedIn">
		<BlButton :label="t('auth.actions.login')" @click="() => login({ redirectUrl })" />
	</template>
	<template v-else>
		<BlButton :label="t('auth.actions.logout')" @click="logout" />
	</template>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useStore } from '#src/setup';
import { BlButton } from '#src/widgets';
import { useI18n } from 'vue-i18n';

export default defineComponent({
	components: { BlButton },
	props: {
		redirectUrl: { type: String, default: () => window.location.href },
	},
	setup() {
		const store = useStore();
		const { t } = useI18n();
		const { login, logout } = store;
		const isLoggedIn = computed(() => store.isLoggedIn);
		return { t, login, logout, isLoggedIn };
	},
});
</script>
