<template>
	<form>
		<fieldset :disabled="!isLoggedIn">
			<BlButton
				:label="t('log-entry.actions.feed-baby')"
				@click="() => feedBaby({ summary: t('log-entry.caption.feeding-summary'), amountMl: 25 })"
			/>
			<BlButton
				:label="t('log-entry.actions.change-diaper')"
				@click="() => changeDiaper({ summary: t('log-entry.caption.diaper-summary') })"
			/>
			<BlButton
				:label="t('log-entry.actions.add-entry')"
				@click="() => addEntry({ summary: 'Special entry' })"
			/>
			<LogEntries />
		</fieldset>
	</form>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import { useStore } from '#src/setup';
import { BlButton } from '#src/widgets';
import LogEntries from './log-entries.vue';

export default defineComponent({
	components: { BlButton, LogEntries },
	setup: () => {
		const store = useStore();
		const { addEntry, changeDiaper, feedBaby } = store;
		const isLoggedIn = computed(() => store.isLoggedIn);
		const { t } = useI18n();

		return { t, addEntry, changeDiaper, feedBaby, isLoggedIn };
	},
});
</script>
