<template>
	<div class="sb-unstyled sb-placeholder" v-bind="{ variant }" :tabindex="interactive ? 0 : undefined">
		{{ name }}
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'SbPlaceholder',
	props: {
		name: { type: String, default: '' },
		variant: { type: String, default: null },
		interactive: { type: Boolean, default: false },
	},
});
</script>

<style lang="scss" scoped>
@use '#src/style/utilities/_all.scss' as *;

.sb-placeholder {
	display: block;
	width: max-content;
	padding: $spacer-3x;
	color: var(--primary-color-text);
	background: var(--primary-color);
}
.sb-placeholder:focus-visible {
	outline: 2px solid var(--primary-color);
	outline-offset: 2px;
}
</style>
