<template>
	<div class="bl-page">
		<BlMenubar>
			<template #start>
				<div v-if="userName" class="bl-menubar__item">{{ userName }}</div>
				-
				<div class="bl-menubar__item">{{ child ? child.nickname : 'Loading baby...' }}</div>
			</template>
			<template #end>
				<BlEditInline @apply="updateDatasetDir" @cancel="resetDatasetDir">
					<template #content>
						<span class="bl-menubar__item">{{ datasetDir }}</span>
					</template>
					<template #editor>
						<label class="is-block" for="input-description">
							{{ 'log-entry.caption.description' }}
						</label>
						<BlInputText v-model="editDatasetDir" input-id="input-description" />
					</template>
				</BlEditInline>
				<TheLogin />
			</template>
		</BlMenubar>

		<div class="bl-page__alerts" role="alert">
			<BlMessage
				v-for="error in errors"
				:key="error.message"
				class="page-layout-alert"
				severity="error"
				closable
				@close="dismissError(error)"
			>
				{{ error.message }}
			</BlMessage>
		</div>

		<div class="has-stack-layout">
			<BlTabs value="recent">
				<BlTabPanel header="Recent" value="recent">
					<TheEditor />
				</BlTabPanel>
			</BlTabs>
		</div>
	</div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, watchEffect, onErrorCaptured } from 'vue';
import { storeToRefs } from 'pinia';
import { BlTabs, BlTabPanel, BlMenubar, BlMessage, BlEditInline, BlInputText } from '#src/widgets';
import { TheEditor, TheLogin } from '#src/components';
import { useStore } from '#src/setup';
import { prop, uniqBy, without } from 'ramda';
import { useI18n } from 'vue-i18n';

export default defineComponent({
	components: { BlTabs, BlTabPanel, TheLogin, TheEditor, BlMenubar, BlMessage, BlEditInline, BlInputText },
	props: {
		locale: { type: String, default: 'en-US' },
	},
	setup: (props) => {
		exposeDevApi({ to: window });

		const { locale }  = useI18n();
		onMounted(() => {
			locale.value = props.locale;
			document.documentElement.lang = locale.value;
		});

		const store = useStore();
		const { loadProfile, loadJournals, loadChildren, handleRedirect, setDatasetDir } = store;
		const { child, datasetDir, isLoggedIn, userName, children, childrenDatasetUrl, journalsDatasetUrl } = storeToRefs(store);
		const errors = ref<Error[]>([]);
		const dismissError = (error: Error) => { errors.value = without([error], errors.value); };

		const editDatasetDir = ref('');
		const resetDatasetDir = () => { editDatasetDir.value = datasetDir.value; };
		const updateDatasetDir = () => { setDatasetDir(editDatasetDir.value); };
		watchEffect(resetDatasetDir);

		onMounted(handleRedirect);
		watchEffect(async () => {
			if (!isLoggedIn.value) { return; }
			await Promise.all([
				loadProfile(),
				loadJournals(),
				loadChildren(),
			]);
		});

		onErrorCaptured((error) => {
			errors.value = uniqBy(prop('message'), [...errors.value, error]);
		});

		return {
			child, children,
			datasetDir, editDatasetDir, updateDatasetDir, resetDatasetDir,
			userName, dismissError, childrenDatasetUrl, journalsDatasetUrl, errors,
		};
	},
});

function exposeDevApi({ to }: { to: unknown }) {
	const __store = useStore();
	const __journals = () => __store.journals.map(journal => ({ ...journal }));
	const sandboxApi = { __store, __journals };
	Object.assign(to as Record<string, unknown>, sandboxApi);
}
</script>

<style lang="scss" scoped>
@use '#src/style/utilities.scss' as *;
.bl-page {
	display: grid;
	padding: $spacer-3x;
	gap: $spacer-3x;
	grid-template-rows: auto auto 1fr;
}

.bl-page__alerts {
	display: inline-grid;
	gap: $spacer-3x;

	&:empty {
		position: absolute;
	}

	> * {
		margin: 0;
	}
}
.has-stack-layout {
	display: grid;
	align-items: start;
	grid-template-columns: auto;
	grid-template-rows: auto;

	> * {
		grid-column: 1;
		grid-row: 1;
		z-index: 0;
	}
}

.bl-menubar__item {
	padding: $spacer-3x;
}
</style>
