<template>
	<PrButton
		:class="{ 'p-button-icon-only': icon && !label }"
		v-bind="{ ...$attrs, label, size }"
		@click="$emit('click', $event)"
	>
		<template v-if="icon">
			<BlIcon
				class="p-button-icon"
				:class="{ 'p-button-icon-left': !!label }"
				v-bind="{ icon }"
				data-pc-section="icon"
			/>
			<span class="p-button-label" data-pc-section="label">
				<template v-if="label">{{ label }}</template>
				<template v-else>&nbsp;</template>
			</span>
		</template>
	</PrButton>
</template>

<script lang="ts">
import { type PropType, defineComponent } from 'vue';
import PrButton from 'primevue/button';
import BlIcon from './bl-icon';
import { type FaIcon } from '#src/icons';

export default defineComponent({
	components: { PrButton, BlIcon },
	props: {
		icon: { type: Object as PropType<FaIcon>, default: null },
		label: { type: String, default: null },
		size: { type: String as PropType<undefined | 'small' | 'large'>, default: undefined },
	},
	emits: ['click'],
});
</script>
