<template>
	<div class="bl-edit-inline">
		<slot name="content" />
		<BlButton
			ref="invoker"
			class="bl-edit-inline__toggle-button"
			size="small"
			severity="secondary"
			text
			rounded
			:icon="phPencil"
			:aria-label="labelToggleOverlay"
			@click="toggleOverlay"
		/>
		<BlPopover ref="editOverlay" @show="isEditing = true" @hide="onHide">
			<div class="bl-edit-inline__editor">
				<slot name="editor" />
				<div class="bl-edit-inline__buttons">
					<BlButton
						size="small"
						:label="t('general.actions.apply')"
						@click="apply"
					/>
					<BlButton
						v-if="removable"
						class="bl-edit-inline__button--destructive"
						severity="danger"
						size="small"
						:label="t('general.actions.delete')"
						@click="remove"
					/>
					<BlButton
						size="small"
						severity="secondary"
						:label="t('general.actions.cancel')"
						@click="cancel"
					/>
				</div>
			</div>
		</BlPopover>
	</div>
</template>

<script lang="ts">
import { type ComponentPublicInstance, computed, defineComponent, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { BlButton, BlPopover } from '#src/widgets';
import { phPencil } from '#src/icons';

export default defineComponent({
	components: { BlButton, BlPopover },
	props: {
		removable: { type: Boolean, default: false },
	},
	emits: ['apply', 'cancel', 'remove'],
	setup: (_, { emit }) => {
		const { t } = useI18n();
		const isEditing = ref(false);
		const invoker = ref<ComponentPublicInstance>();

		const editOverlay = ref();
		const hideOverlay = (event: Event) => editOverlay.value.hide(event);
		const showOverlay = (event: Event) => editOverlay.value.show(event);
		const toggleOverlay = (event: Event) => (isEditing.value ? hideOverlay : showOverlay)(event);

		const onHide = () => {
			isEditing.value = false;
			invoker.value?.$el.focus();
		};
		const apply = (event: Event) => {
			hideOverlay(event);
			emit('apply');
		};

		const cancel = (event: Event) => {
			hideOverlay(event);
			emit('cancel');
		};

		const remove = (event: Event) => {
			hideOverlay(event);
			emit('remove');
		};
		const labelToggleOverlay = computed(() => isEditing.value ?
			t('general.actions.cancel'):
			t('general.actions.edit'));

		return { t, editOverlay, invoker, isEditing, labelToggleOverlay, toggleOverlay, apply, cancel, remove, onHide, phPencil };
	},
});
</script>

<style lang="scss" scoped>
@use '../style/utilities/_all.scss' as *;

.bl-edit-inline {
	display: inline-grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: $spacer-3x;
}
.bl-edit-inline__toggle-button {
	align-self: start;
}

.bl-edit-inline__buttons {
	display: flex;
	gap: $spacer-2x;

	* {
		flex-grow: 1;
	}
}

.bl-edit-inline__button--destructive {
	margin: 0 $spacer-3x;
}

.bl-edit-inline__editor {
	display: grid;
	gap: $spacer-2x;
}
</style>
