<template>
	<PrInputMask v-model="timeModel" mask="99:99" :pt="{ input: { inputmode: 'numeric' } }" />
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import PrInputMask from 'primevue/inputmask';

export default defineComponent({
	components: { PrInputMask },
	props: {

		modelValue: { type: Date, default: null },
	},
	emits: {
		'update:model-value': (_: Date) => true,
	},
	setup(props, { emit }) {
		const timeModel = computed({
			get: () => {
				return formatTime(props.modelValue);
			},
			set: (value: string) => {
				if (!isValidTime(value)) { return; }
				const { hours, minutes } = parseTime(value);
				const newDate = new Date(props.modelValue);
				newDate.setHours(hours);
				newDate.setMinutes(minutes);
				emit('update:model-value', newDate);
			},
		});
		return { timeModel };
	},
});

function parseTime(value: string) {
	const [hour10 = '0', hour = '0', /* : */, minute10 = '0', minute = '0'] = value;
	const parse = (value: string) => value === '_' ? 0 : parseInt(value);
	const hours = parse(hour10) * 10 + parse(hour);
	const minutes = parse(minute10) * 10 + parse(minute);
	return { hours, minutes };
}

function isValidTime(value: string) {
	if (value.includes('_')) { return false; }
	const { hours, minutes } = parseTime(value);
	return 0 <= hours && hours < 24 && 0 <= minutes && minutes < 60;

}

function formatTime(date: Date) {
	const pad = (value: number) => (value < 10) ? `0${value}` : String(value);
	return `${pad(date.getHours())}:${pad(date.getMinutes())}`;
}
</script>

<style lang="scss" scoped>
@use '../style/utilities/_all.scss' as *;

.bl-input-date-time {
	display: inline-grid;
	gap: $spacer-1x;
}
</style>
