$_icon-font-size: 1.25em;
$_icon-margin-negative: -0.5rem;

.p-button {
	.p-button-icon {
		font-size: $_icon-font-size;
		margin-top: $_icon-margin-negative;
		margin-bottom: $_icon-margin-negative;
	}

	&.p-button-icon-only {
		.p-button-icon {
			margin-left: -1.5rem;
			margin-right: -1.5rem;
		}
	}

	&.p-button-sm {
		&.p-button-icon-only,
		&.p-button-icon-only.p-button-rounded {
			height: unset;
			min-width: 40px;
			min-height: 40px;
			width: max-content;
		}
		.p-button-icon {
			font-size: $_icon-font-size;
		}
	}
}



